.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.counter {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    width: 200px;
    font-size: 100px;
}